<head>

    <body>
        <h1>
            <center> NOW YOU ARE IN PAGE TWO </center>
        </h1>
        <center>
            <table>

                <td>
                    <button> <a href="https://pbs.twimg.com/profile_images/1371833393181233152/xS8az04h_400x400.jpg">HAKKINDA</a></button>
                </td>
                <a href="https://pbs.twimg.com/profile_images/1371833393181233152/xS8az04h_400x400.jpg"></a>
                <td><button><a href = "PAGE3.html">3.SAYFAYA GEÇ VEDE DAŞŞAK </a></button></td>
                <td><button>TEKNOLOJİ</button></td>

            </table>

        </center>
    </body>
</head>